extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'

block main
  .sw-Wrap
    .sw-Wrap_Bg.sw-Wrap_Bg-left
    .sw-Wrap_Bg.sw-Wrap_Bg-right
    .sw-Wrap_Label.sw-Wrap_Label-left
    .sw-Wrap_Label.sw-Wrap_Label-right
    .sw-Wrap_Label.sw-Wrap_Label-right-back
    include ./modules/_modal
    include ./modules/_header
    include ./modules/_top
    include ./modules/_event
    include ./modules/_footer
