#event.tp-Event_Wrap
  .tp-Event_Bg_Wrap
    img.tp-Event_Image(src='/image/bg_event.svg', alt='')
  .tp-Event_Inner
    .tp-Event_Shose
      img.tp-Event_Image(src='/image/apng/apng_shose.png', alt='')
    .tp-Event_Release
      img.tp-Event_Image(src='/image/apng/apng_release.png', alt='')
    .tp-Event_Title_Wrap
      h2.tp-Event_Title
        .tp-Event_Text_Wrap
          .tp-Event_Title_Text 
            .js-event-text.tp-Event_Title_Text_Inner 
              p.tp-Event_Title_Text_Label opening
        .tp-Event_Text_Wrap
          .tp-Event_Title_Text
            .js-event-text.tp-Event_Title_Text_Inner 
              p.tp-Event_Title_Text_Label event
      p.tp-Event_Description_Wrap
        .tp-Event_Description_Contents
          .tp-Event_Description
            .js-event-text.tp-Event_Description_Inner
              p.tp-Event_Description_Label 所縁のアーティストが、
        .tp-Event_Description_Contents
          .tp-Event_Description 
            .js-event-text.tp-Event_Description_Inner 
              p.tp-Event_Description_Label 2日間限定トークショー！

    .tp-Event_Contents_Wrap
      .tp-Event_Contents_List
        .tp-Event_Contents_Image_Text_Wrap
          img.tp-Event_Image(src='/image/img_speaker0.svg', alt='')
        .js-event.tp-Event_Contents
          .js-event-bg.tp-Event_Contents_Bg
          .tp-Event_Contents_Inner
            .tp-Event_Contents_Image_Wrap
              img.js-event-image.tp-Event_Contents_Image(src='/image/img_event01.jpg', alt='')
              .js-event-image-bg.tp-Event_Contents_Image_Bg
            .js-event-text.tp-Event_Contents_Text_Wrap
              .tp-Event_Contents_Text_Inner
                p.tp-Event_Contents_Text 
                  span.tp-Event_Contents_Label スニーカーを中心にコーディネート。
              .tp-Event_Contents_Text_Inner
                p.tp-Event_Contents_Text 
                  span.tp-Event_Contents_Label 主に原宿で活動するファッショニスタ。
              .tp-Event_Contents_Text_Inner
                p.tp-Event_Contents_Text
                  span.tp-Event_Contents_Label HAYAMA HANA

      .tp-Event_Contents_List.tp-Event_Contents_List-reverse
        .js-event-image-new.tp-Event_Contents_New_Wrap
          img.tp-Event_Image(src='/image/apng/apng_new.png', alt='')
        .tp-Event_Contents_Image_Text_Wrap.tp-Event_Contents_Image_Text_Wrap-reverse
          img.tp-Event_Image(src='/image/img_speaker1.svg', alt='')
        .js-event.tp-Event_Contents.tp-Event_Contents-reverse
          .js-event-bg.tp-Event_Contents_Bg.tp-Event_Contents_Bg-reverse
          .tp-Event_Contents_Inner.tp-Event_Contents_Inner-reverse
            .tp-Event_Contents_Image_Wrap.tp-Event_Contents_Image_Wrap-reverse
              img.js-event-image.tp-Event_Contents_Image(src='/image/img_event02.jpg', alt='')
              .js-event-image-bg.tp-Event_Contents_Image_Bg.tp-Event_Contents_Image_Bg-reverse
            .js-event-text.tp-Event_Contents_Text_Wrap.tp-Event_Contents_Text_Wrap-reverse
              .tp-Event_Contents_Text_Inner
                p.tp-Event_Contents_Text 
                  span.tp-Event_Contents_Label スニーカーを中心にコーディネート。
              .tp-Event_Contents_Text_Inner
                p.tp-Event_Contents_Text 
                  span.tp-Event_Contents_Label 主に原宿で活動するファッショニスタ。
              .tp-Event_Contents_Text_Inner
                p.tp-Event_Contents_Text
                  span.tp-Event_Contents_Label HAYAMA HANA