.tp-Footer_Wrap
  .tp-Footer_Inner
    .tp-Footer_Label_Wrap
      #js-swiper.tp-Footer_Label.swiper-container
        .tp-Footer_Label_Inner.swiper-wrapper
          .swiper-slide
            .tp-Footer_Label_Image
              img.tp-Footer_Heading_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Footer_Label_Image
              img.tp-Footer_Heading_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Footer_Label_Image
              img.tp-Footer_Heading_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Footer_Label_Image
              img.tp-Footer_Heading_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Footer_Label_Image
              img.tp-Footer_Heading_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Footer_Label_Image
              img.tp-Footer_Heading_Image(src='/image/txt_slide.svg', alt='')
          
    .tp-Footer_Heading
      .tp-Footer_Heading_Triangle_Wrap
        img.tp-Footer_Heading_Image(src='/image/img-triangle.png', alt='')
      .tp-Footer_Heading_Inner
        .tp-Footer_Heading_Image_Wrap
          img.tp-Footer_Heading_Image(src='/image/apng/apng_lovesneaker.png', alt='')

    .tp-Footer_Contents_Wrap
      .tp-Footer_Contents
        .tp-Footer_Contents_Bg_Wrap
          img.tp-Footer_Heading_Image(src='/image/apng/apng_footer.png', alt='')
        .tp-Footer_Contents_Logo_Wrap
          img.tp-Footer_Heading_Image(src='/image/img-logo.svg', alt='')
        .tp-Footer_Contents_Copy_Wrap
          img.tp-Footer_Heading_Image(src='/image/img_copy.svg', alt='')
