.tp-Header_Wrap
  .tp-Header_Inner
    .tp-Header_Contents
      img.tp-Header_Image(src='./image/img-logo.svg', alt='')
  .tp-Header_Image_Wrap
    img.js-apng.tp-Header_Image(src='./image/apng/apng_popupshopopen.png', alt='')
    