#js-loader-wrap.tp-Loading_Wrap
  .tp-Loading_Inner
    - for (var x = 0; x < 10; x++)
      .tp-Loading_Label_Wrap
        .js-swiper-Loading.tp-Loading_Label.swiper-container.blue(data-slidesPerView = '3', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/txt_slide.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.pink(data-slidesPerView = '1', data-speed = '3000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading2.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.red(data-slidesPerView = '3', data-speed = '3500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading3.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.blue(data-slidesPerView = '1', data-speed = '1500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading4.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.orange(data-slidesPerView = '3', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading5.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.pink(data-slidesPerView = '2', data-speed = '2500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading6.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.blue(data-slidesPerView = '1', data-speed = '2500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading7.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.red(data-slidesPerView = '2', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading8.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.orange(data-slidesPerView = '1', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading9.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.blue(data-slidesPerView = '3', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading10.svg', alt='')

      .tp-Loading_Label_Wrap
        .js-swiper-Loading.tp-Loading_Label.swiper-container.red(data-slidesPerView = '3', data-speed = '1000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/txt_slide.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.pink(data-slidesPerView = '1', data-speed = '3000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading2.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.red(data-slidesPerView = '3', data-speed = '3500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading3.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.blue(data-slidesPerView = '1', data-speed = '1500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading4.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.orange(data-slidesPerView = '3', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading5.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.pink(data-slidesPerView = '2', data-speed = '2500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading6.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.blue(data-slidesPerView = '1', data-speed = '2500')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading7.svg', alt='')

        .js-swiper-Loading.tp-Loading_Label.swiper-container.red(data-slidesPerView = '2', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading8.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.orange(data-slidesPerView = '1', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading9.svg', alt='')


        .js-swiper-Loading.tp-Loading_Label.swiper-container.blue(data-slidesPerView = '3', data-speed = '2000')
          .tp-Loading_Label_Inner.swiper-wrapper
            - for (var x = 0; x < 20; x++)
              .swiper-slide
                .tp-Loading_Label_Image
                  img.tp-Loading_Image(src='/image/loading/img-loading10.svg', alt='')

