.tp-Menu_Wrap
  .tp-Menu_Inner
    h1.tp-Menu_Logo_Wrap
      img.tp-Menu_Logo(src='./image/img_logo_pc.svg', alt='love sneaker')
    #js-toggle-wrap.tp-Menu_Toggle
      #js-toggle.tp-Menu_Toggle_Inner
        span.tp-Menu_Toggle_Line
        span.tp-Menu_Toggle_Line
        span.tp-Menu_Toggle_Line
