.tp-menu_Wrap
  .tp-menu_Inner
    h1.tp-menu_Logo_Wrap
      img.tp-menu_Logo(src='/image/img_logo_pc.svg', alt='love sneaker')
    #js-toggle-wrap.tp-menu_Toggle
      #js-toggle.tp-menu_Toggle_Inner
        span.tp-menu_Toggle_Line
        span.tp-menu_Toggle_Line
        span.tp-menu_Toggle_Line
