.tp-Modal_Wrap
  .tp-Modal_Inner
    .tp-Modal_Bg.tp-Modal_Bg-left
    .tp-Modal_Bg.tp-Modal_Bg-right
    .tp-Modal_Menu_Image_Wrap
      img.tp-Modal_Image(src='/image/apng/apng_menu.png', alt='')
    .tp-Modal_Menu_Bg_Image_Wrap
    .tp-Modal_Contents_Wrap
      .tp-Modal_Image_Wrap
        img.tp-Modal_Image(src='/image/img_harajuku.jpg', alt='')
      .tp-Modal_Contents
        .tp-Modal_Contents_Inner
          .tp-Modal_Contents_Bg
          .tp-Modal_Contents_Item_Wrap
            ul.tp-Modal_Contents_Item_Inner
              li.tp-Modal_Contents_Item_List_Wrap
                .tp-Modal_Contents_Item_List_Bg
                .tp-Modal_Contents_Item_List
                  .tp-Modal_Contents_Item_Text_Wrap
                    img.tp-Modal_Contents_Item_Text(src='/image/txt_top.svg', alt='')

              li.tp-Modal_Contents_Item_List_Wrap
                .tp-Modal_Contents_Item_List_Bg
                .tp-Modal_Contents_Item_List
                  .tp-Modal_Contents_Item_Text_Wrap.tp-Modal_Contents_Item_Text_Wrap-event
                    img.tp-Modal_Contents_Item_Text(src='/image/txt_event.svg', alt='')

    .tp-Modal_Label_Wrap
      #js-swiper-modal.tp-Modal_Label.swiper-container
        .tp-Modal_Label_Inner.swiper-wrapper
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
          .swiper-slide
            .tp-Modal_Label_Image
              img.tp-Modal_Image(src='/image/txt_slide.svg', alt='')
