#top.tp-Top_Wrap
  .tp-Top_Inner
    .tp-Top
      img.tp-Top_Image(src='/image/apng/apng_top.png', alt='')
    .tp-Top_First
      img.tp-Top_Image(src='/image/img_first.jpg', alt='')
    .tp-Top_second
      img.tp-Top_Image(src='/image/img_second.jpg', alt='')
    .tp-Top_third
      img.tp-Top_Image(src='/image/img_third.jpg', alt='')