$X_LARGE_SCREEN_WIDTH: 1366;
$LARGE_SCREEN_WIDTH: 1024;
$MEDIUM_SCREEN_WIDTH: 768;
$SMALL_SCREEN_WIDTH: 375;

$CAPTION01: #ffdc5f;
$CAPTION02: #2ad4b6;
$CAPTION02_BG_TEXT: #6df8df;
$CAPTION01_BG_TEXT: #ffe7aa;
$BG_TEXT: #fff;
$TEXT_PRIMARY: #000;
$FOOTER: #df00a1;
$BG_APING_LOVESNEAKERS: #e3ff38;
$BG_CSS_LOVESNEAKERS: #474ef0;
$BG_PC01: #a8ef4e;
$BD_PC02: #f6ff8f;
$LOGO: #faff00;
$HAMBURGER_FILL: #ffe600;
$LOADING_PINK: #ff78d9;
$LOADING_RED: #ff0b5c;
$LOADING_ORANGE: #ff991e;
$LOADING_NAVY: #1406b7;
