.tp-Event_Wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tp-Event_Bg_Wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tp-Event_Image {
  width: 100%;
  display: block;
}

.tp-Event_Inner {
  width: 100%;
  position: relative;
  padding-bottom: percentage(187 / $SMALL_SCREEN_WIDTH);
}

.tp-Event_Shose {
  width: percentage(208 / $SMALL_SCREEN_WIDTH);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(30%);
  z-index: 1;
}

.tp-Event_Release {
  width: percentage(224 / $SMALL_SCREEN_WIDTH);
  position: absolute;
  top: 0;
  right: 0;
}

.tp-Event_Title_Wrap {
  width: 100%;
  padding: 50px 0 60px;
}

.tp-Event_Title {
  margin-bottom: 16px;
}

$fontSize: 56;
$lineHeight: 62;

.tp-Event_Text_Wrap {
  @include fontVw($fontSize);

  color: $BG_TEXT;
  line-height: 0.8;
}

.tp-Event_Title_Text {
  overflow: hidden;
  display: inline-flex;
  text-transform: uppercase;
}

.tp-Event_Title_Text_Inner {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;

  &.open {
    width: 100%;
  }
}

.tp-Event_Title_Text_Label {
  padding: #{($lineHeight / $fontSize) - 1}em;
  background-color: $TEXT_PRIMARY;
}

$fontSize: 13;
$lineHeight: 18.85;

.tp-Event_Description_Wrap {
  @include fontVw($fontSize);

  width: 100%;
  color: $TEXT_PRIMARY;
}

.tp-Event_Description_Contents {
  width: 100%;
}

.tp-Event_Description {
  @include fontVw($fontSize);

  display: inline-flex;
  font-weight: bold;
}

.tp-Event_Description_Inner {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease;

  &.open {
    width: 100%;
  }
}

.tp-Event_Description_Label {
  padding: 0 #{($lineHeight / $fontSize) - 1}em;
  background-color: $BG_TEXT;
}

.tp-Event_Contents_Wrap {
  width: 100%;
  position: relative;
  z-index: 1;
}

.tp-Event_Contents_List {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.tp-Event_Contents_Image_Text_Wrap {
  width: percentage(62 / $SMALL_SCREEN_WIDTH);
  position: absolute;
  left: percentage(17 / $SMALL_SCREEN_WIDTH);
  top: 0;
}

.tp-Event_Contents_Image_Text_Wrap-reverse {
  left: auto;
  right: percentage(17 / $SMALL_SCREEN_WIDTH);
}

.tp-Event_Contents_List-reverse {
  display: block;
}

.tp-Event_Contents {
  width: percentage(300 / $SMALL_SCREEN_WIDTH);
  position: relative;

  &:hover {
    @include mediumScreenWidthOver() {
      .tp-Event_Contents_Image_Wrap {
        animation: yoyo 0.5s infinite alternate forwards $easeInOutSine;
      }

      .tp-Event_Contents_Text_Wrap {
        animation: yoyo 0.5s 0.1s infinite alternate forwards $easeInOutSine;
      }

      .tp-Event_Contents_Bg {
        animation: yoyo 0.5s 0.1s infinite alternate forwards $easeInOutSine;
      }
    }
  }
}

.tp-Event_Contents-reverse {
  overflow: hidden;

  &:hover {
    @include mediumScreenWidthOver() {
      .tp-Event_Contents_Image_Wrap-reverse {
        animation: yoyo-reverse 0.5s infinite alternate forwards $easeInOutSine;
      }

      .tp-Event_Contents_Text_Wrap-reverse {
        animation: yoyo-reverse 0.5s 0.1s infinite alternate forwards
          $easeInOutSine;
      }

      .tp-Event_Contents_Bg-reverse {
        animation: yoyo-reverse 0.5s 0.1s infinite alternate forwards
          $easeInOutSine;
      }
    }
  }
}

.tp-Event_Contents_Inner {
  width: percentage(280 / 300);
  float: right;
  position: relative;
  z-index: 1;
}

.tp-Event_Contents_Inner-reverse {
  float: left;
}

.tp-Event_Contents_New_Wrap {
  width: percentage(111 / $SMALL_SCREEN_WIDTH);
  position: absolute;
  left: percentage(19 / $SMALL_SCREEN_WIDTH);
  top: 0;
  z-index: 2;
  transform: translateY(-50%);
}

.tp-Event_Contents_Image_Wrap {
  width: 100%;
  position: relative;
  z-index: 100;

  &::before {
    content: '';
    width: 100%;
    padding-top: 100%;
    display: block;
  }
}

.tp-Event_Contents_Image_Wrap-reverse {
  width: 100%;
}

.tp-Event_Contents_Image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 2;
  opacity: 0;
  border-left: solid 2px $BG_TEXT;
  border-top: solid 2px $BG_TEXT;
  border-bottom: solid 2px $BG_TEXT;
}

.tp-Event_Contents_Image-lazy {
  opacity: 0;
  z-index: 1;
}

.tp-Event_Contents_Image-reverse {
  width: 100%;
  border-left: 0;
  border-right: solid 2px $BG_TEXT;
  border-top: solid 2px $BG_TEXT;
  border-bottom: solid 2px $BG_TEXT;
}

.tp-Event_Contents_Image_Bg {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fff;
  z-index: 0;
}

.tp-Event_Contents_Image_Bg-reverse {
  left: 0;
}

.tp-Event_Contents_Text_Wrap {
  opacity: 0;
  padding: 10px 0;
}

.tp-Event_Contents_Text_Wrap-reverse {
  padding: 10px 0 10px percentage(20 / 280);
}

$fontSize: 13;
$lineHeight: 18.85;

.tp-Event_Contents_Text_Inner {
  overflow: hidden;
}

.tp-Event_Contents_Text {
  @include fontVw($fontSize);

  color: $TEXT_PRIMARY;
  font-weight: bold;
  display: inline-flex;
  overflow: hidden;
  line-height: 1;
  padding: 0.2em;
  letter-spacing: 0.01em;
  background-color: rgba(255, 255, 255, 0.5);
}

.tp-Event_Contents_Label {
  width: 100%;
  display: block;
}

.tp-Event_Contents_Bg {
  width: 0;
  height: 80.112044818%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $CAPTION01;
  transform: translate3d(0, 0, 0);
  transition: transform 2s linear;
}

.tp-Event_Contents_Bg-reverse {
  left: 0;
  background-color: $CAPTION02;
}
